@mixin constructor($property, $specs...) {
	-webkit-#{$property}: $specs;
	-moz-#{$property}: $specs;
	-o-#{$property}: $specs;
	#{$property}: $specs;
}

@mixin border-radius($specs) {
	@include constructor(border-radius, #{$specs})
}

@mixin box-shadow($specs) {
	@include constructor(box-shadow, $specs)
}

@mixin transform($specs) {
	@include constructor(transform, $specs)
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin no-animation() {
	@include transition(#{"none !important"});
	@include animation(#{"none !important"});
	
	$no-duration: "0s !important";
}

@mixin input-placeholder($color) {
	&::-webkit-input-placeholder {
		color: $color;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
		color: $color;  
	}

	&:-ms-input-placeholder {  
		color: $color;  
	}
}
	