.call-window {
	.video-control {
		width: 400px;
		padding: 20px;
		bottom: 10px;
		background: -webkit-linear-gradient(top, #c4fad8 0%, #5bc1e0 100%);
		border-radius: 5px;
		text-align: center;
		position: absolute;
		left: calc(50% - 200px);
		h2 {
			width: 324px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-right: 20px;
		}
	}

	.local-video,
	.peer-video {
		bottom: 0;
		width: 217px;
		height: 122px;
		position: absolute;
		video {
			width: 100%;
			height: 100%;
		}
	}

	.local-video {
		bottom: 50px;
		right: 5px;
		p {
			text-align: center;
			font-size: 18px;
			font-weight: bold;
		}
	}

	.peer-video {
		bottom: 50px;
		left: 5px;
		p {
			text-align: center;
			font-size: 18px;
			font-weight: bold;
		}
	}
}

.video-control,
.call-modal {
	.btn-action {
		$height: 50px;
		height: $height;
		width: $height;
		line-height: $height;
		margin: 0px 8px;
		font-size: 1.4em;
		text-align: center;
		border-radius: 50%;
		cursor: pointer;
		padding: 0 !important;
		&.hangup {
			background-color: $red;
			color: $white;
		}

		&:not(.hangup) {
			background-color: $blue;
			color: $white;
			&.disable {
				background-color: $red;
			}
		}
		i {
			margin: auto;
		}
	}
}
