.call-window {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	z-index: -1;
	@include transition(opacity 0.5s);
	@include bg-gradient(top, #ae92e2 0%, #cfd8db 100%);

	&.active {
		opacity: 1;
		z-index: auto;
	}

	.video-control {
		position: absolute;
		width: 400px;
		padding: 20px;
		left: calc(50vw - 200px);
		bottom: 10px;
		background: -webkit-linear-gradient(top, #c4fad8 0%, #5bc1e0 100%);
		border-radius: 5px;
		text-align: center;
		z-index: 9;
	}

	video {
		position: absolute;
	}

	#localVideo {
		bottom: 0;
		right: 0;
		width: 20%;
		height: 20%;
	}

	#peerVideo {
		width: 100%;
		height: 100%;
	}
}

@include keyframes(in-fadeout) {
	0% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.video-control,
.call-modal {
	.btn-action {
		$height: 50px;
		height: $height;
		width: $height;
		line-height: $height;
		margin: 0px 8px;
		font-size: 1.4em;
		text-align: center;
		border-radius: 50%;
		cursor: pointer;
		transition-duration: 0.25s;
		&.hangup {
			background-color: $red;
			color: $white;
		}

		&:not(.hangup) {
			background-color: $blue;
			color: $white;
			&.disable {
				background-color: $red;
			}
		}
	}
	.btn-pain {
		background: $yellow !important;
	}
	.btn-unpain {
		background: red !important;
	}
}
