.main-window {
	padding-top: 80px;
	font-size: 1.75em;

	@media screen and (max-width: 767px) {
		padding-top: 40px;

		.pull-left,
		.pull-right {
			width: 100%;
			text-align: center;
		}

		.pull-right {
			margin-top: 20px;
		}
	}

	.btn-action {
		$height: 60px;
		height: $height;
		width: $height;
		margin: 20px 30px 0px 0px;
		line-height: $height;
		text-align: center;
		border-radius: 50%;
		border: solid 2px $blue-light;
		cursor: pointer;
		transition-duration: 0.25s;
		background-color: transparent;
		color: $blue-light;
		padding: 0 !important;
		&:hover {
			background-color: rgba($white, 0.2);
		}
		i{
			margin: auto;
		}
	}
	.btn-paint {
		color: $yellow;
		border: solid 2px $yellow;
	}

	.txt-clientId {
		height: 40px;
		margin: 40px auto 0px 10px;
		color: $white;
		font-size: 0.9em;
		background-color: transparent;
		border: none;
		border-bottom: solid 1px $white;
		@include input-placeholder(rgba($white, 0.8));
	}
	.meeting-page {
		text-align: center;
		h1 {
			margin-bottom: 40px;
			color: $blue-light;
		}
		.client-id {
			display: flex;
			justify-content: center;
			.icon-copy {
				cursor: pointer;
				.check{
					color: green;
				}
			}
			.icon-copy:hover + .hide {
				display: block;
				color: #2b394e;
			}
			.hide {
				display: none;
			}
		}
		.truncate {
			width: 250px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-right: 20px;
		}
	}
	.text-id {
		color: #2b394e;
		font-weight: 600;
		font-family: "Nunito", sans-serif;
		background-color: #cfdde0;
		text-align: center;
		border-radius: 9px;
	}
	.other-id {
		font-weight: 600;
		font-family: "Nunito", sans-serif;
		color: #2b394e;
		input {
			border-radius: 7px;
			text-align: center;
		}
		::placeholder {
			color: #838a96;
			font-size: 16px;
			text-align: center;
		}
	}
}
